/* Ángela Nistal Guerrero - UO301919 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* Especifidad 001*/
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #FDEFF2;
  color: #000000;
}

/* Especificidad 011 */
/* Color del header */
header {
  background-color: #F8AFC1;
  color: #ffffff;
}

/* Especificidad 012 */ 
/* Enlaces del header */
a {
  color: #2C0014; /* Hereda el background-color del body */
  text-decoration-line: none;
}

/* Especificidad 022 */ 
/* Estados de los enlaces del header */
a:hover, a:focus {
  color: #4A0020; /* Hereda el background-color del body */
}

/* Especificidad 012 */ 
/* Título y enlaces del header */
header a {
  color:#7B1E3A; /* Hereda el background-color del header */
}

/* Especificidad 010 */ 
/* Enlace activo */
.active {
  color: #66002A; /* Hereda el background-color del body */
  font-weight: bold;
}

/* Especificidad 011 */ 
/* Migas de navegación */
nav > p {
  font-size: 0.8em;
}
