/* Ángela Nistal Guerrero - UO301919 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* Especifidad: 1 elemento */
/* Herencia: color y fondo aplicados a body para todos los elementos */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fbfbfb;
    color: #000000;
}
  
/* Especificidad: 1 elemento */
/* Herencia: no se aplica, color y fondo específicos para header */
header {
    background-color: #ffc2c7; /* Rose Red */
  }
  
  /* Especificidad: 1 elemento */
  /* Herencia: no se aplica, color específico para h1 */
  h1 {
    color: #f41f4e; /* Rosewater */
  }
  
  /* Especificidad: 1 elemento */
  /* Herencia: no se aplica, color específico para nav */
  nav {
    color: #f41f4e; /* Rosewater */
  }
  