 main {
    display: grid;
    gap: 1rem; 
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center;
  }
  
  main h2 {
    grid-column: 1 / -1; 
    align-content: center;
  }

  main > p {
    grid-column: 1 / -1; 
    align-content: center;
  }

  /* Adaptabilidad de dispositivos móviles */
  /* Se redefinde grid-template-columns: de 4 columnas a 2 columnas */
  @media screen and (max-width: 600px) {
    main {
      grid-template-columns: repeat(2, 1fr); /* Redefinición necesaria en móviles */
    }
  }
  
  