/* Ángela Nistal Guerrero - UO301919 */
/* Estilos generales del layout */ 
 
  /* Especificidad 001 */
 /* Header principal */
 header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
 }

  /* Especificidad 012 */
 /* Menú principal */
 header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
 }

 /* Especificidad 012 */
 /* Imágenes dentro de artículos */
 article img {
    width: 100%;
    height: auto;
}

 /* Especificidad 012 */
/* Estilos para el mapa dinámico */
main > div {
    width: 100%;
    height: 60vh;
    margin: 1em 0;
    border: 2px solid #F8AFC1;
}

/* Especificidad 012 */
main label,
main input[type="file"] {
    display: block;
    margin: 0.5em 0;
}

 /* Adaptabilidad en dispositivos móviles */
 @media (min-width: 320px) and (max-width: 799px) {
     /* Especificidad 001 */
    /* header se muestra en vertical */
    header, header nav {
        flex-direction: column;
        align-items: center; /* Redefinición necesaria en móviles */
    }

     /* Especificidad 011 */
    /* Las migas de navegación no se muestran */
    nav > p {
        display: none;
    } 
    
    /* Especificidad 001 */
    img {
        width: 100%;
        height: auto;
    }

    /* Especificidad 001 */
    /* Elementos de video */
    video { 
        width: 100%;
        height: auto;
    }

    /* Especificidad 001 */
    /* Elementos de audio */
    audio {
        width: 100%;
    }

    /* Especificidad 012 */
    article h2 {
        font-size: 1.2em;
        text-align: center;
    }  
      
 }