 header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
 }

 header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
 }

 article img {
    width: 640px;
    height: auto;
    display: block;
}

/* Estilos para el mapa dinámico */
main > div {
    width: 100%;
    height: 500px;
    margin: 1em 0;
    border: 2px solid #333;
  }

/* Menú normal en escritorio */
header nav {
    display: flex;
    gap: 1em;
}
  
/* Botón oculto en escritorio */
header > button {
    display: none;
}
  

 /* Adaptabilidad en dispositivos móviles */
 @media (max-width: 700px) {
    /* header se muestra en vertical */
    header {
        flex-direction: column;
    }

    /* nav se muestra en vertical */
    header nav {
        flex-direction: column;
        text-align: center;
    }

    /* Las migas de navegación no se muestran */
    nav > p {
        display: none;
    } 
    
    img {
        width: 100%; 
        height: auto;
        display: block;
    }

    /* Elementos de video */
    video {
        width: 100%;
        height: auto;
    }

    /* Elementos de audio */
    audio {
        width: 100%;
    }

    article img {
        width: 100%;       /* ocupa todo el ancho de la pantalla */
        height: auto;
        display: block;
    }

    article h2 {
        font-size: 1.2em;  /* encabezado más legible en móvil */
        text-align: center;
    }  

    /* Menu para moviles */
    header nav {
        display: none;
        flex-direction: column;
        text-align: center;
      }
      
    header nav.abierto {
        display: flex;
      }
      
    header > button {
        display: block;
        margin: 0.5em;
      }
      
 }